<script>
    $(function () {
        $('.artgris-page-collection').collection(
            {
                up: '<a class="btn btn-light" href="#"><i class="fa fa-arrow-up"></i></a>',
                down: '<a class="btn btn-light" href="#"><i class="fa fa-arrow-down"></i></a>',
                add: '<a class="btn btn-primary" href="#"><i class="fa fa-plus"></i><span class="btn-label">{{ 'collection.add_bloc'|trans }}</span></a>',
                remove: '<a class="btn btn-danger" href="#"><i class="fa fa-trash"></i></a>',
                add_at_the_end: true,
                position_field_selector: '.position'
            }
        );
    });
</script>